{% extends "layout.html" %}

{% block additional_css %}
    <title>{{glidermission.platform_serial}} Mission {{mission}}</title>
{% endblock %}
{% block main_content %}
    <div class="container-xl mission-summary">
        <h2 class="mt-4">{{glidermission.platform_serial}} Mission {{mission}}</h2>
        <p>This mission was in <strong>{{glidermission.basin}}</strong>.
            <br> All missions from this glider: <a href="/fleet/{{glidermission.platform_serial}}"  class="link-primary">{{glidermission.platform_serial}} page</a>
        <br> Start: {{start_date}} <br> End: {{end_date}}
        <br> Download data: {{erddap_link|safe}}
        <br> Comment: {{glidermission.comment}}</p>
        <p>
        Please acknowledge data used in any publication with the following statement: </p>

        <p>
        <i>This study used data collected and made freely available by Voice of the Ocean Foundation
            (https://voiceoftheocean.org) accessed from https://erddap.observations.voiceoftheocean.org/erddap/index.html </i> </p><br>

        <p>
    </div>
    <div class="row mb-2">
        <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src={{combi_plot}}><br></div>
        <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src={{map}}><br></div>
    </div>
{{extra_plots_html | safe}}
{% endblock %}
