{% extends "layout.html" %}

{% block additional_css %}
    <!-- JS and CSS for leaflet maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- Link to providers CSS and javascript for leaflet provider extension-->
    <script src="http://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="static/js/leaflet-providers.js"></script>
    <!-- Various mapping functions and static-->
    <script src="static/js/voto-map.js"></script>

    <title>Observations Portal &bull; VOTO</title>
{% endblock %}

{% block main_content %}

    <div class="container-xl hero">
        <h1 class="mt-4">Observations Portal </h1>
        <p>
        Our <strong>{{glider_count}}</strong> gliders have recorded <strong>{{ "{:,}".format(profile_count) }}</strong>
        profiles during <strong>{{total_time}}</strong> at sea, covering <strong>{{"{:,}".format(total_dist)}} km</strong>.<br>
        Our <strong>{{sailbuoy_count}}</strong> sailbuoys have spent <strong>{{total_time_sailbuoy}}</strong> at sea sailing <strong>{{"{:,}".format(total_dist_sailbuoy)}} km</strong>.
        </p>
        <h2>Live platform locations</h2>
    </div>

    <div id="map" style="height: 500px; "></div>
    <script>

        // geojson
        var gliderPoints = JSON.parse('{{ glider_points| tojson | safe}}');
        var gliderLines = JSON.parse('{{ glider_lines| tojson | safe}}');
        var gliders = JSON.parse('{{ gliders| tojson | safe}}');

        // sailbuoys
        var sailbuoyLines = JSON.parse('{{ sailbuoy_lines| tojson | safe}}');
        var sailbuoys = JSON.parse('{{ sailbuoys| tojson | safe}}');


        // create map
        var map = L.map('map').setView([58, 15.7], 6);
        OpenStreetMap_Mapnik.addTo(map);

        // Add basemap layers to a layer group
        var basemaps = {
            "EMODnet bathy": emodnetBathy,
            OSM: OpenStreetMap_Mapnik
        };

        // add gliders and sailbuoys to map
        sailbuoyToMap(sailbuoys, sailbuoyLines, map);
        gliderToMap(gliders, gliderLines, map);

        // add controls to map
        controlPanel = L.control.layers(basemaps);
        controlPanel.addTo(map);
        L.control.scale().addTo(map);

    </script>
    <div class="container-xl current-missions">
        <h2 class="mt-4">Near real time data</h2>
      <div class="row mb-2">
          {{plots_display | safe}}
      </div>
    </div>

{% endblock %}
