{% extends "layout.html" %}

{% block additional_css %}
    <!-- JS and CSS for leaflet maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- Link to providers CSS and javascript for leaflet provider extension-->
    <script src="http://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="static/js/leaflet-providers.js"></script>
    <title>Observations Portal &bull; VOTO</title>
{% endblock %}

{% block main_content %}

    <div class="container-xl hero">
        <h1 class="mt-4">Observations Portal </h1>
        <p>
        Our <strong>{{glider_count}}</strong> gliders have recorded <strong>{{ "{:,}".format(profile_count) }}</strong>
        profiles during <strong>{{total_time}}</strong> at sea, covering <strong>{{"{:,}".format(total_dist)}} km</strong>.<br>
        Our <strong>{{sailbuoy_count}}</strong> sailbuoys have spent <strong>{{total_time_sailbuoy}}</strong> at sea sailing <strong>{{"{:,}".format(total_dist_sailbuoy)}} km</strong>.
        </p>
        <h2>Live platform locations</h2>
    </div>

    <div id="map" style="height: 400px; "></div>
    <script>

        // geojson
        var gliderPoints = JSON.parse('{{ glider_points| tojson | safe}}');
        var gliderLines = JSON.parse('{{ glider_lines| tojson | safe}}');
        var gliders = JSON.parse('{{ gliders| tojson | safe}}');

        // sailbuoys
        var sailbuoyLines = JSON.parse('{{ sailbuoy_lines| tojson | safe}}');
        var sailbuoys = JSON.parse('{{ sailbuoys| tojson | safe}}');

       // statics
       	let seaexplorerIcon = L.icon({
		iconUrl: '/static/img/icons/seaex.png',
		iconSize:     [60, 40], // size of the icon
		iconAnchor:   [30, 40], // point of the icon which will correspond to marker's location
		popupAnchor:  [3, -40] // point from which the popup should open relative to the iconAnchor
	    });

       	let sailbuoyIcon = L.icon({
		iconUrl: '/static/img/icons/sailbuoy.png',
		iconSize:     [60, 40], // size of the icon
		iconAnchor:   [30, 40], // point of the icon which will correspond to marker's location
		popupAnchor:  [3, -40] // point from which the popup should open relative to the iconAnchor
	    });

        // Function adds popup content to markers
	    function popupText(feature, layer) {
		    layer.bindPopup(feature.properties.popupContent);}
        // create map
        var map = L.map('map').setView([57.5, 14], 6);

        // A series of optional map layers. ortho has addTo(map) so is on by default
        var emodnetBathy = L.tileLayer.wms('https://ows.emodnet-bathymetry.eu/wms', {
            layers: 'mean_atlas_land',
            attribution: '<a href="https://portal.emodnet-bathymetry.eu">EMODnet Bathymetry Consortium (2020)</a>'})
        var Stamen_Watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
	    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
	    subdomains: 'abcd',  minZoom: 1, maxZoom: 16, ext: 'jpg'});
        var orthofr = L.tileLayer.provider('GeoportailFrance.orthos');
        var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	        maxZoom: 19,
	        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

        // Add basemap layers to a layer group
        var basemaps = {
            Ortho: orthofr,
            "EMODnet bathy": emodnetBathy,
            watercolor: Stamen_Watercolor,
            OSM: OpenStreetMap_Mapnik
        };

        // add gliders and sailbuoys to map
        L.geoJSON(sailbuoyLines, {color:'#f77a3c',
                lineStringToLayer: function (feature, latlng) {
                    return L.line(latlng, );},
                onEachFeature: popupText}).addTo(map);

	    let sailbuoyLayer = L.geoJSON(sailbuoys, {
		    pointToLayer: function (feature, latlng) {
			return L.marker(latlng, {icon: sailbuoyIcon});},
		    onEachFeature: popupText}).addTo(map);

        L.geoJSON(gliderLines, {color:'#fffb08',
                lineStringToLayer: function (feature, latlng) {
                    return L.line(latlng, );},
                onEachFeature: popupText}).addTo(map);

	    let gliderLayer = L.geoJSON(gliders, {
		    pointToLayer: function (feature, latlng) {
			return L.marker(latlng, {icon: seaexplorerIcon});},
		    onEachFeature: popupText}).addTo(map);


        // add controls to map
        controlPanel = L.control.layers(basemaps);
        controlPanel.addTo(map);

    </script>
    <div class="container-xl current-missions">
        <h2 class="mt-4">Near real time data</h2>
      <div class="row mb-2">
        <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src={{map_0}}><br><img class="img-fluid" src={{combi_plot_0}}><br></div>
        <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src={{map_1}}><br><img class="img-fluid" src={{combi_plot_1}}><br></div>
        <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src={{map_2}}><br><img class="img-fluid" src={{combi_plot_2}}><br></div>
        <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src={{map_3}}><br><img class="img-fluid" src={{combi_plot_3}}><br></div>
        <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src={{map_4}}><br><img class="img-fluid" src={{combi_plot_4}}><br></div>
        <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src={{map_5}}><br><img class="img-fluid" src={{combi_plot_5}}><br></div>
        </div>
    </div>

{% endblock %}
