{% extends "layout.html" %}

{% block additional_css %}
    <!-- JS and CSS for leaflet maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- Link to providers CSS and javascript for leaflet provider extension-->
    <script src="http://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/static/js/leaflet-providers.js"></script>

    <!-- CSS and javascript for datatables, requires jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- Setup dataatables-->
    <script>
    $(document).ready( function () {
        $('#missions_table').DataTable({
        "paging": false,
        "order": [[ 5, "desc" ]]
        });
    } );
    </script>
    <script>
        $(document).ready( function () {
            $('#basins_table').DataTable({
            "paging": false,
            "order": [[ 0, "asc" ]]
            });
        } );
    </script>

    <title>{% if basin_name %} {{basin_name}} {% endif %}Mission Map &bull; VOTO</title>
{% endblock %}

{% block main_content %}


    <div id="map" style="height: 700px; "></div>
    <script>

        // geojson
        var gliderLines = JSON.parse('{{ glider_lines | tojson | safe}}');
        var helcom = JSON.parse('{{ helcom | tojson | safe}}');

       // statics


        // Function adds popup content to markers
	    function popupText(feature, layer) {
		    layer.bindPopup(feature.properties.popupContent);}
        // create map
        var map = L.map('map').setView([58, 15.7], 6);

        var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	        maxZoom: 19,
	        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

        // Add basemap layers to a layer group
        var basemaps = {
            OSM: OpenStreetMap_Mapnik
        };

        // add gliders and sailbuoys to map

        //L.geoJSON(helcom, {onEachFeature: popupText,style: polyStyle}).addTo(map);


        // 'file' is a geojson layer
        var helcomLayer = L.geoJSON(helcom, {
        {% if not glidermissions %}
            onEachFeature: colorlayer,
        {% endif %}
            style: {
                "weight": 1,
                opacity: 0.6,
                fillOpacity: 0.2
            }
        }).addTo(map);




function colorlayer(feature, layer) {
    onEachFeature: popupText,
    layer.on('mouseover', function (e) {
        if (feature.properties && feature.properties.popupContent) {
        layer.bindPopup(feature.properties.popupContent, {closeButton: false});
        }
        layer.setStyle({
            fillOpacity: 0.6
        });
    });
    layer.on('mouseout', function (e) {
        layer.setStyle({
            fillOpacity: 0.2
        });
    });
}


	// setting color from geojson. We have enough unique colors for 8 years. After that they'll all be black
        function getColor(style) {
          switch (style) {
            case 2020:
              return "white";
            case 2021:
              return '#1f77b4';
            case 2022:
              return '#ff7f0e';
            case 2023:
              return '#2ca02c';
            case 2024:
              return '#d62728';
            case 2025:
              return '#9467bd';
            case 2026:
              return "#8c564b" ;
            case 2027:
              return "#e377c2" ;
            case 2028:
              return "#7f7f7f" ;
            case 2029:
              return "#bcbd22" ;
            case 2030:
              return "#17becf" ;
            default:
              return 'black';
          }
        }

    {% if glidermissions %}
    function style(feature) {
        return {
            weight: 5,
            color: getColor(feature.properties.year),
        };
    }
    {% else %}
        var style = {
        "weight": 2,
        "color": "#fffb08"
        };
    {% endif %}

        L.geoJSON(gliderLines, {style: style,
                lineStringToLayer: function (feature, latlng) {
                    return L.line(latlng, );},
                onEachFeature: popupText}).addTo(map);

        // add controls to map
        controlPanel = L.control.layers(basemaps);
        controlPanel.addTo(map);
        L.control.scale().addTo(map);

        map.fitBounds(helcomLayer.getBounds(), {padding: [0, 0]});
    </script>
    {% if glidermissions %}
    <div class="mt-4 container-xl glider-list">

        <h2>Missions</h2>
        <table class="table table-hover" id="missions_table">
            <thead>
            <tr>
                <th scope="col">Glider </th>
                <th scope="col">Mission</th>
                <th scope="col">Location</th>
                <th scope="col">Project</th>
                <th scope="col">Duration (days)</th>
                <th scope="col">Start</th>
                <th scope="col">Additional variables</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            {% for m in glidermissions %}

                <tr>
                <td><a href="/fleet/SEA{{ m.glider_fill}}" class="link-primary">SEA{{m.glider_fill}}</a></td>
                <td><a href="/SEA{{ m.glider_fill }}/M{{m.mission}}" class="link-primary">M{{m.mission}}</a></td>
                <td>{{m.basin}}</td>
                <td><a href="{{ m.project_url}}"  class="link-primary">{{m.project}} </a></td>
                <td>{{m.duration_pretty}}</td>
                <td>{{m.start_pretty}}</td>
                <td>{{m.variables_pretty}}</td>
                <td><a href="/SEA{{ m.glider_fill }}/M{{m.mission}}" class="btn btn-primary" role="button">M{{m.mission}}</a></td>
            {%  endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<div class="mt-4 container-xl glider-list">

<h2>Basin maps</h2>
<table class="table table-hover" id="basins_table">
    <thead>
    <tr>
        <th scope="col">Basin id</th>
        <th scope="col">Basin name</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
    {% for m in basins %}
    <tr>
        <td>{{m.basin_id}}</td>
        <td>{{m.basin_name}}</td>
        <td><a href="{{ m.link}}" class="btn btn-primary" role="button">Missions in {{m.basin_name}}</a></td>
        {%  endfor %}
    </tbody>
</table>
</div>
{% endblock %}
