{% extends "layout.html" %}

{% block additional_css %}
    <title>Pipeline Status</title>
    <!-- CSS and javascript for datatables, requires jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- datatable datetime support-->
    <script src="static/js/moment.js"></script>
    <script src="static/js/datetime.js"></script>

    <!-- Setup dataatables-->
    <script>
    $(document).ready( function () {
        $('#pipeline_table').DataTable({
        "paging": false,
        "order": [[ 4, "desc" ]],
        "columnDefs": [ {
        targets: [2,4,5,6,8,9,10],
        render: $.fn.dataTable.render.moment('YYYY-MM-DD HH:mm:s.SSSS', 'YYYY-MM-DD HH:mm' )
        } ],
        'rowCallback': function(row, data, index){
        if(data[11] == "False"){
            $(row).find('td:eq(11)').css('color', 'red');}
        if(data[5] < data[2] || data[5] < data[4]){
            $(row).find('td:eq(5)').css('color', 'red');}
        if(data[6] < data[5]){
            $(row).find('td:eq(6)').css('color', 'red');}
        if(data[9] < data[2] || data[9] < data[8]){
            $(row).find('td:eq(9)').css('color', 'red');}
        if(data[10] < data[9]){
            $(row).find('td:eq(10)').css('color', 'red');}
        }
        });
    } );
    </script>
{% endblock %}
{% block main_content %}


    <div class="container-xl glider-list">

        <h2>Pipeline Status</h2>
        <table class="table table-hover" id="pipeline_table">
            <thead>
            <tr>
                <th scope="col">Glider </th>
                <th scope="col">Mission</th>
                <th scope="col">yml date</th>
                <th scope="col">nrt profiles</th>
                <th scope="col">nrt raw time</th>
                <th scope="col">nrt proc</th>
                <th scope="col">nrt plots</th>
                <th scope="col">complete profiles</th>
                <th scope="col">complete raw time</th>
                <th scope="col">complete proc</th>
                <th scope="col">complete plots</th>
                <th scope="col">up</th>
            </tr>
            </thead>
            <tbody>
            {% for m in pipeline %}

                <tr>
                <td><a href="/fleet/SEA{{ m.glider }}" class="link-primary">SEA{{m.glider_fill}}</a></td>
                <td><a href="/SEA{{ m.glider }}/M{{m.mission}}" class="link-primary">M{{m.mission}}</a></td>
                <td>{{m.yml_time}}</td>
                <td>{{m.nrt_profiles}}</td>
                <td>{{m.nrt_profiles_mtime}}</td>
                <td>{{m.nrt_proc_mtime}}</td>
                <td>{{m.nrt_plots_mtime}}</td>
                <td>{{m.complete_profiles}}</td>
                <td>{{m.complete_profiles_mtime}}</td>
                <td>{{m.complete_proc_mtime}}</td>
                <td>{{m.complete_plots_mtime}}</td>
                <td>{{m.up}}</td>
            {%  endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
