<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <!-- STATIC CONSTANT URLS -->
    <url>
        <loc>{{ site }}</loc>
        <lastmod>{{ last_updated_text }}</lastmod>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>
    <url>
        <loc>{{site}}/account/login</loc>
        <lastmod>{{ last_updated_text }}</lastmod>
        <changefreq>yearly</changefreq>
        <priority>0.5</priority>
    </url>
    <url>
        <loc>{{site}}/account/register</loc>
        <lastmod>{{ last_updated_text }}</lastmod>
        <changefreq>yearly</changefreq>
        <priority>0.5</priority>
    </url>
    <url>
        <loc>{{site}}/gliders</loc>
        <lastmod>{{ last_updated_text }}</lastmod>
        <changefreq>yearly</changefreq>
        <priority>0.8</priority>
    </url>

     <!-- DYNAMIC PAGES -->
    {% for m in missions %}
    <url>
        <loc>{{site}}/mission{{m.Number}}</loc>
        <lastmod>{{m.EndDate.isoformat()}}</lastmod>
        <changefreq>yearly</changefreq>
        <priority>1.0</priority>
    </url>
    {%  endfor %}
    {% for g in gliders%}
        <url>
            <loc>{{site}}/gliders/SG{{g.Number}}</loc>
            <lastmod>{{ last_updated_text }}</lastmod>
            <changefreq>yearly</changefreq>
            <priority>0.8</priority>
        </url>
    {%  endfor %}
</urlset>
