{% extends "layout.html" %}

{% block additional_css %}
    <title>Stats</title>
{% endblock %}
{% block main_content %}
    <div class="container-xl hero">
        <h1>Vital Statistics</h1>
        <p></p>Our <strong>{{glider_count}}</strong> gliders have recorded <strong>{{ "{:,}".format(profile_count) }}</strong>
        profiles and racked up <strong>{{total_time}}</strong> at sea covering <strong>{{total_dist}} km</strong>.<br>
        During these missions our gliders have collected <strong>{{"{:,}".format(total_points)}}</strong> data points. <br>
        Our <strong>{{sailbuoy_count}}</strong> sailbuoys have spent <strong>{{total_time_sailbuoy}}</strong> at sea sailing <strong>{{"{:,}".format(total_dist_sailbuoy)}} km</strong></p>

    </div>
    <div class="container-xl mission-summary">
        <p>Since the beginning of March 2021 we have had at least one glider in the water <strong>{{stats_pretty["glider_deployed"]}} %</strong> of the time.<br>
            On average, we have had <strong>{{stats_pretty["num_glider_in_both"]}}</strong> gliders in the water during this period.</p>
        <br>
        <h2> Spatiotemporal coverage</h2>
        <br>
        <div class="row mb-2">
            <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src=/static/img/glider/gantt_all_ops.png><br></div>
            <div class="col-lg-6 themed-grid-col"><img class="img-fluid" src="/static/img/glider/coverage.png"><br></div>
        </div>
        <br>

    <h2>Stats by year</h2>
        <p></p> <p>N.B. stats for 2021 are from 2021-03-01 to 2021-12-31. Stats for the present year are from the 1st of January up to today.</p><br>
    <table class="table table-hover" id="missions_table">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Glider Deployed</th>
            <th scope="col">Skagerrak</th>
            <th scope="col">Bornholm</th>
            <th scope="col">Gotland</th>
            <th scope="col">Åland</th>
            <th scope="col">Total glider time</th>
            <th scope="col">Total profiles</th>
            <th scope="col">Mean gliders in water</th>
        </tr>
        </thead>
        <tbody>
        {% for m in yearly_stats %}

        <tr>
            <td>{{m["year"][:4]}}</td>
            <td>{{m["glider_deployed"]}} %</td>
            <td>{{m["glider_in_skaggerak"]}} %</td>
            <td>{{m["glider_in_bornholm"]}} %</td>
            <td>{{m["glider_in_gotland"]}} %</td>
            <td>{{m["glider_in_aland"]}} %</td>
            <td>{{m["glider_time"]}}</td>
            <td>{{m['total_profiles']}}</td>
            <td>{{m["num_glider_in_both"]}}</td>
            {%  endfor %}
        </tbody>
    </table>

        <h2>Download mission metadata</h2>
        csv files containing mission and profile metadata from all missions conducted.<p></p>
        <a href="/static/img/glider/missions.csv" download="missions.csv" class="btn btn-primary">Download missions</a>
        <a href="/static/img/glider/profiles.csv" download="profiles.csv" class="btn btn-primary">Download profiles</a><br>
    </div>
{% endblock %}
