{% extends "layout.html" %}

{% block additional_css %}
    <title>Stats</title>
{% endblock %}
{% block main_content %}
    <div class="container mission-summary">
        <p>Since the beginning of March 2021 we have had at least one glider in the water <strong>{{stats_pretty["glider_deployed"]}} %</strong> of the time.<br>
           We have had at least on glider in the Skagerrak/Kattegat basin  <strong>{{stats_pretty["glider_in_skaggerak"]}} %</strong> of the time.
            and in the Baltic basin during <strong>{{stats_pretty["glider_in_baltic"]}} %</strong>.<br>
            On average, we have had <strong>{{stats_pretty["glider_in_both"]}}</strong> gliders in the water during this period.
    </div>
    <div class="row mb-2">
      <div class="col-lg-4 themed-grid-col"><img class="img-fluid" src="/static/img/glider/coverage.png"><br></div>
      <div class="col-lg-4 themed-grid-col"><img class="img-fluid" src=/static/img/glider/gantt_all_ops.png><br></div>
    </div>
{% endblock %}
