<!DOCTYPE html>
<html lang="en">
<!-- This is a common layout for all the other pages -->
<head>
    <meta charset="UTF-8">
    <!-- CSS and javascript for bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    {% block additional_css %}{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>




<!-- Nav elements link to other pages -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/missions">Missions</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/platforms">Platforms</a>
        </li>
        {% block extra_nav %}{% endblock %}
    </ul>
  </div>
</nav>

<!-- This block is for the main page content -->
<div class="main_content">
    {% block main_content %}{% endblock %}
</div>

<footer>
    <!-- Copyright statement with a script to print the current year -->
    <div class="copyright">
        Built by <a href="https://github.com/callumrollo">Callum Rollo</a>
    </div>
</footer>

{% block additional_js %}{% endblock %}

</body>
</html>
