{% extends "layout.html" %}

{% block additional_css %}
    <title>{{glider.platform_serial}}</title>
<!-- CSS and javascript for datatables, requires jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<!-- Setup datatables-->
<script>
    $(document).ready( function () {
        $('#missions_table').DataTable({
        "paging": false,
        "order": [[ 4, "desc" ]]
        });
    } );
    </script>
{% endblock %}
{% block main_content %}

<div class ="about" >
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="/static/img/glider/photos/{{glider.platform_serial}}.png" class="img-fluid ">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 desc">

        <h3 class="mt-4">{{glider.platform_serial}} {{glider.name}}</h3>
        <p>{{glider.name}} has completed {{total_missions}} missions and spent {{pretty_time}} at sea.<br>
            {{glider.name}} has recorded {{"{:,}".format(glider.total_profiles)}} vertical profiles, covering a total vertical distance of {{ "{:,}".format(glider.total_depth) }} m.
            This is equivalent to diving to the deepest part of the ocean and back {{marianas}} times.<br>
            {{basins_str}}
    </p>
   </div>
  </div>
</div>


<div class="container-xl glider-list">

    <h2>Missions</h2>
    <table class="table table-hover" id="missions_table">
        <thead>
        <tr>
            <th scope="col">Mission</th>
            <th scope="col">Location</th>
            <th scope="col">Project</th>
            <th scope="col">Duration (days)</th>
            <th scope="col">Start</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        {% for m in glidermissions %}

        <tr>
            <td>{{m.mission}}</td>
            <td>{{m.basin}}</td>
            <td><a href="{{ m.project_url}}"  class="link-primary">{{m.project}} </a></td>
            <td>{{m.duration_pretty}}</td>
            <td>{{m.start_pretty}}</td>
            <td><a href="/{{glider.platform_serial }}/M{{m.mission}}" class="btn btn-primary" role="button">M{{m.mission}}</a></td>
            {%  endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
