{% extends "layout.html" %}
{% block additional_css %}
    <title>Account</title>
<!-- CSS and javascript for datatables, requires jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<!-- Setup datatables-->
<script>
    $(document).ready( function () {
        $('#schedule').DataTable({
        "createdRow": function( row, data, dataIndex ) {
             if ( data[1] == "{{user.name}}" ) {
         $(row).addClass('alarm');
         }},
        "paging": false,
        "order": [[ 0, "asc" ]]
        });
    } );
</script>
{% endblock %}

{% block main_content %}
<div class="mt-4 container-xl glider-list">
    <div class="welcome">
        <div class="pilot-info">
            <h1>Welcome {{ user.name }}</h1><br>

            <p class="fw-bold">{{user_message}}</p>

            <p>{{next_shift | safe}}</p>

            <div class="form-check form-switch">

            </div>

            <div class="form-container">
        <form action="" method="POST" class="account-form">


            <div class="form-check form-switch">
                <div class="form-check form-switch">
                {% if piloting %}
                    <input name="alarm_me" class="form-check-input" type="checkbox" role="switch" id="alarm_me" checked disabled />
                {% elif alarm_me %}
                    <input name="alarm_me" class="form-check-input" type="checkbox" role="switch" id="alarm_me" checked />
                {% else %}
                    <input name="alarm_me" class="form-check-input" type="checkbox" role="switch" id="alarm_me" />
                {% endif %}
                <label class="form-check-label" for="alarm_me">Send me alerts when a glider alarms</label>
                </div>
                <div class="form-check form-switch">
                {% if alarm_me_surface %}
                    <input name="alarm_me_surface" class="form-check-input" type="checkbox" role="switch" id="alarm_me_surface" checked />
                {% else %}
                    <input name="alarm_me_surface" class="form-check-input" type="checkbox" role="switch" id="alarm_me_surface" />
                {% endif %}
                <label class="form-check-label" for="alarm_me_surface">Send me alerts when a glider with <b>{{alert_email}}</b> in "Mail on surfacing" surfaces</label>
                </div>
            </div>
            <br>
            <div class="form-check form-switch"> <button type="submit" class="btn btn-danger">Update Preferences</button></div>
            <br>
            {% if alarm_me %}
            <div class="error-message"><p>🚨 You will receive calls and texts when any VOTO glider alarms 🚨</p></div>
            {% endif %}
            {% if alarm_me_surface %}
            <div class="error-message"><p>⬆️ You will receive calls and texts when selected gliders surface. To select gliders, add <b>{{alert_email}}</b> to "Mail on surfacing" to each glider you want surface alerts for ⬆️</p></div>
            {% endif %}
            <div style="clear: both;"></div>

        </form>
    </div>

            <p>{{duty_message | safe}}</p>

            <p>{{current_message | safe }}</p>
        </div>
        <br>
        <h3>Bonus pages</h3>
                <div class="container">

            <p><a  class="btn btn-primary" role="button" href="monitor"> Pilot plots </a> </p>
            <p><a  class="btn btn-primary" role="button" href="battery"> Battery plots </a> </p>
            <p><a  class="btn btn-primary" role="button" href="pilot/all-plots"> All mission plots </a> </p>
            <p><a  class="btn btn-primary" role="button" href="calibrate"> CTD comparison plots</a> (messy!)  </p>
            <p><a  class="btn btn-secondary" role="button" href="http://192.168.30.120:8502/"> seaexplorer config file checker</a> (must be in office/on the VPN)  </p>
                </div>
        <h3>Glider engineering pages</h3>


        <div class="container">
            {% for g in glider_grid %}
            <p>
          <div class="row justify-content-md-left">
            <div class="col-md-auto">
                <a href="fleet/{{ g[0] }}-engineering" class="btn btn-primary" role="button">{{ g[0] }}</a>
            </div>
            <div class="col-md-auto">
                <a href="fleet/{{ g[1] }}-engineering" class="btn btn-primary" role="button">{{ g[1] }}</a>
            </div>
            <div class="col-md-auto">
                <a href="fleet/{{ g[2] }}-engineering" class="btn btn-primary" role="button">{{ g[2] }}</a>
            </div>
            </p>
            {%  endfor %}
          </div>
        <h3>External services</h3>

    <div class="container">
       <p> <a  class="btn btn-primary" role="button" href="https://www.glimpse-alseamar.com/"> Pilot gliders (GLIMPSE) </a> </p>
        <p><a  class="btn btn-primary" role="button" href="https://iridium2.azurewebsites.net"> Pilot sailbuoys (iridium) </a> </p>
        <p><a  class="btn btn-danger" role="button" href="{{sink_link}}"> Sink all gliders</a></p>
    </div>

<div class="mt-4 container-xl glider-list">
    <h3 class="mt-4">Piloting schedule</h3>

    <table class="table table-hover" id="schedule">
        <thead>
        <tr>
            <th scope="col">datetime start (UTC)</th>
            {% for column in schedule.columns %}
                <th scope="col">{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in schedule.itertuples() %}

        <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
        </tr>
            {%  endfor %}
        </tbody>
    </table>

    <p><a href="/account/logout" class="btn btn-primary" role="button">Logout</a></p>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
