/* VOTO fonts */
* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
  }
h1 {
    font-family: Kanit;
    font-weight: 700;
}
h2 {
  font-weight: 700;
    font-size: 24px;
}


/* Bootstrap override colors */
/* change the background color */
.navbar-custom {
    background-color: #001489;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: #36a9e0;
}
.link-primary {color: #001489;}
.btn-primary {background-color: #001489;}

/* Spacing */
footer {
    margin-top: 60px;
    padding: 1.5em;
    line-height:1.5;
    text-align: center;
    background-color: #001489;
    color: #ffffff;

}

/* Glider about section*/

.about{
    margin: 1em 0;
    padding: 2em;
    position: relative;
   }
   .about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }
   .about span{
    display: block;
    position: absolute;
    left: 150px;
   }
   .about .desc{
    padding: 1em;
    /* margin: 0 6em; */
    border-left:4px solid #001489;
   }
   .about .desc h3{
    color: #001489;
   }
   .about .desc p{
    line-height:1.5;
   }

.hero p{
    line-height:1.5;
}

/* forms*/

form.account-form {
    margin-left: 20px;
    margin-right: auto;
    max-width: 800px;
    padding: 10px;
}
.welcome {
    margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.error-message {
    color: #a00d0d;
}

.options {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size:34px;
}
.login {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* for admin table */
.alarm {
  background-color: coral !important;
}



/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  line-height: 24px;
  color: #555;
}
.legend h4 {
  font-size: 16px;
  margin: 2px 12px 8px;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity:1;
  border: 1px solid black;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

/*clock*/
#clock {
  color: white;
  padding-left: 10px;
}
